{
  "IdentityServerData": {
    "IdentityResources": [
      {
        "Name": "roles",
        "Enabled": true,
        "DisplayName": "Roles",
        "UserClaims": ["role"]
      },
      {
        "Name": "openid",
        "Enabled": true,
        "Required": true,
        "DisplayName": "Your user identifier",
        "UserClaims": ["sub"]
      },
      {
        "Name": "profile",
        "Enabled": true,
        "DisplayName": "User profile",
        "Description": "Your user profile information (first name, last name, etc.)",
        "Emphasize": true,
        "UserClaims": [
          "name",
          "family_name",
          "given_name",
          "middle_name",
          "nickname",
          "preferred_username",
          "profile",
          "picture",
          "website",
          "gender",
          "birthdate",
          "zoneinfo",
          "locale",
          "updated_at"
        ]
      },
      {
        "Name": "email",
        "Enabled": true,
        "DisplayName": "Your email address",
        "Emphasize": true,
        "UserClaims": ["email", "email_verified"]
      },
      {
        "Name": "address",
        "Enabled": true,
        "DisplayName": "Your address",
        "Emphasize": true,
        "UserClaims": ["address"]
      }
    ],
    "ApiScopes": [
      {
        "Name": "skoruba_identity_admin_api",
        "DisplayName": "skoruba_identity_admin_api",
        "Required": true,
        "UserClaims": ["role", "name"]
      }
    ],
    "ApiResources": [
      {
        "Name": "skoruba_identity_admin_api",
        "Scopes": ["skoruba_identity_admin_api"]
      }
    ],
    "Clients": [
      {
        "ClientId": "${AWA_ADMIN_CLIENT_ID}",
        "ClientName": "${AWA_ADMIN_CLIENT_ID}",
        "ClientUri": "${AWA_ADMIN_HOST}",
        "AllowedGrantTypes": ["authorization_code"],
        "RequireConsent": false,
        "RequirePkce": true,
        "ClientSecrets": [
          {
            "Value": "${AWA_ADMIN_CLIENT_SECRET}"
          }
        ],
        "RedirectUris": ["${AWA_ADMIN_HOST}/signin-oidc"],
        "FrontChannelLogoutUri": "${AWA_ADMIN_HOST}/signout-oidc",
        "PostLogoutRedirectUris": [
          "${AWA_ADMIN_HOST}/signout-callback-oidc"
        ],
        "AllowedCorsOrigins": ["${AWA_ADMIN_HOST}"],
        "AllowOfflineAccess": true,
        "AllowedScopes": [
          "openid",
          "email",
          "profile",
          "roles",
          "skoruba_identity_admin_api"
        ],
        "RequirePushedAuthorization": false
      },
      {
        "ClientId": "skoruba_identity_admin_api_swaggerui",
        "ClientName": "skoruba_identity_admin_api_swaggerui",
        "AllowedGrantTypes": ["authorization_code"],
        "RequireClientSecret": false,
        "RequirePkce": true,
        "RedirectUris": [
          "${AWA_ADMIN_API_HOST}/swagger/oauth2-redirect.html"
        ],
        "AllowedScopes": ["skoruba_identity_admin_api"],
        "AllowedCorsOrigins": ["${AWA_ADMIN_API_HOST}"]
      }
    ]
  }
}
